#header{
	position: absolute;
	right: 0;
 	top: 0;
  	left: 0;
  	padding: 1rem;
  	text-align: center;
    background-color:white;

}

#Links{
	position: absolute;
	right: 0;
 	top: 75px;
  	left: 0;
  	padding: 1rem;
  	text-align: left;
    background-color:white;
}

#footer{
  	position: absolute;
  	right: 0;
  	bottom: 0;
  	left: 0;
  	padding: 1rem;
  	text-align: center;
    background-color:white;
}

h1{
  font-style: italic;
}

